@charset "UTF-8";

#footerbar p {
    margin: 11px;
}

#footerbar {
    background-color: rgba(32, 178, 170, 0.42);
    opacity: 1.11;
    position: static;
    width: 750px;
    padding: 1px 0 1px 0;
    margin: auto;
    clear: both;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}

	