@charset "UTF-8";

input.green, div.green{ background:#e5f7d9; }

a.green1{ 
	background:#e5f7d9;
    border-style: solid;
	border-width: 1px;
 }

a.exit {
	background: white;
    cursor: pointer;
	border-style: solid;
	border-width: 1px;
}

.mainholder {
	max-width: 1100;
	max-height: 1500;
	margin: auto;
	opacity: 0.9;
	padding: 5;
	background: white;
}

.createcarholder {
  max-width: 650px;
  margin: auto;
  background: cyan;
  padding: 10px;
  border-style: solid;
  border-width: 5px;
}

.content {
		  max-width: 500px;
		  margin: auto;
		  background: white;
		  padding: 10px;
		  border-style: solid;
		  border-width: 5px;
		}
		
.car_holder {
  max-width: 1000px;
  margin: auto;
  background: cyan;
  padding: 10px;
  border-style: solid;
  border-width: 5px;
  opacity: 0.9;
}

#footerbar p {
    margin: 11px;
}

#footerbar {
    background-color: rgba(32, 178, 170, 0.42);
    opacity: 1.11;
    position: static;
    width: 1000px;
    padding: 1px 0 1px 0;
    margin: auto;
    clear: both;
}

#topper p {
    margin: 11px;
}

#topper {
    background-color: rgba(32, 178, 170, 0.42);
    opacity: 1.11;
    position: static;
    width: 750px;
    padding: 1px 0 1px 0;
    margin: auto;
    clear: both;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}

body {
  background-image: url(/img/background.jpg);
}

	
