
@charset "UTF-8";

@font-face {
	font-family: header;
	scr: url(/web/Ubuntu/Ubuntu-Medium.ttf);
	
}
h1 {
	font-family: header;
}

@font-face {
	font-family: p;
	scr: url(/web/Quantico/Quantico-Regular.ttf);
}
p {
	font-family: p;
}

input.green, div.green{ background:#e5f7d9; }

a.green1{ 
	background:#e5f7d9;
    border-style: solid;
	border-width: 1px;
 }

a.exit {
	background: white;
    cursor: pointer;
	border-style: solid;
	border-width: 1px;
}

.mainholder {
	background-image: url(/img/mainholder.jpg);
	max-height: 1000px;
	max-width: 1100px;
	margin: auto;
	padding: 25px 10px 25px 10px;
}

.createcarholder {
  max-width: 650px;
  margin: auto;
  background: #e6ffff;
  padding: 10px;
  border-style: solid;
  border-width: 5px;
}

.content {
		  max-width: 500px;
		  margin: auto;
		  background: white;
		  padding: 10px;
		  border-style: solid;
		  border-width: 5px;
		}
		
.content1 {
		  max-width: 500px;
		  margin: auto;
		  background: #e6e6ff;
		  padding: 10px;
		  border-style: solid;
		  border-width: 5px;
		}
		
.content2 {
		  max-width: 500px;
		  margin: auto;
		  background: #ffe6e6;
		  padding: 10px;
		  border-style: solid;
		  border-width: 5px;
		}
		
.car_holder {
  max-width: 1000px;
  margin: auto;
  background: #e6ffff;
  padding: 10px;
  border-style: solid;
  border-width: 5px;
  opacity: 0.9;
}

#footerbar p {
    margin: 11px;
}

#footerbar {
    background: cornflowerblue;
    position: static;
    width: 1000px;
    padding: 1px 0 1px 0;
    margin: auto;
    clear: both;
  border-style: solid;
  border-width: 4px;
}

#topper p {
    margin: 11px;
}

#topper {
    background: cornflowerblue;
    position: static;
    width: 750px;
    padding: 1px 1px 1px 1px;
    margin: auto;
    clear: both;
  border-style: solid;
  border-width: 4px;
}

#greeter p {
    margin: 11px;
}

#greeter {
    background: cornflowerblue;
    width: 250px;
    padding: 1px 1px 1px 1px;
    border-style: solid;
    border-width: 4px;
}

#admindiv {
    height: 
    background: cornflowerblue;
    width: 250px;
    padding: 1px 1px 1px 1px;
    border-style: solid;
    border-width: 4px;
}

#utilities {
    display: flex;
    justify-content: center;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}

body {
  background-image: url(/img/background.jpg);
}

	
